.container {
    margin: 5% 10% 3% 8%;
    font-family:'Gayathri', sans-serif;
}

.sec-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.sec-flex img {
    padding: 1%;
    flex-wrap: wrap;
    border: 2px rgb(122, 116, 116)  solid; 
    border-radius: 60%;
    width: 50%;
    height: 50%;
}

h2 {
    font-family:'Gayathri', sans-serif;
    font-size: 2em;
    color: rgb(11, 110, 110);
    text-align: center;
}

.img-Lenguage {
    width: 25%;
    text-align: center;
    margin-bottom: 2%;
}

.img-Lenguage img {
    width: 80%;
    height: 90%;
    border-radius:10% ;
}
.img-Lenguage img:hover {
    border: 5px rgba(184, 11, 54, 0.897) solid;
    border-radius: 30px;
    box-shadow: 5px 5px 6px rgb(165, 127, 127);

}



